* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    background-color:rgb(134, 134, 134);
    text-align: center;
    color: white;
    width: 100%;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
    width: 100%;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: rgb(216, 216, 216);
    padding: 20px;
    height: auto;
    width: 100%;
  }
  
  /* txt files as embed */
  .herominers_txt {
    background-color: #f1f1f1;
    padding: 0px;
  }
 
  .hiveos_txt {
    display: flexbox;
    background-color: rgb(216, 216, 216);
    padding: 0px;
  } 

  .img {
    background-color: rgb(240, 0, 0);
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: #333;
    color: white;
    width: 100%;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
      width: 100%;
    }
  }
